#*[^.]*
*.hi
*.o
crazy
mean
listToString
repeatN
sieve_of_eratothenes
multiThreadedLogging
test
threadring
mutableArraysBench
Id
FizzBuzz
FizzBuzz2
RecursiveInstances
runLengthEncoding
runLengthEncoding[23]
sort
hello
hugsin
wordCount
simpleHttpd
