.cabal-sandbox
cabal.sandbox.config

/docs/

#*[^.]*
*.hi
*.o

factorial
crazy
mean
listToString
repeatN
sieve_of_eratothenes
multiThreadedLogging
test
threadring
mutableArraysBench
Id
FizzBuzz
FizzBuzz2
RecursiveInstances
runLengthEncoding
sort
hello
hello-curlies
hugsin
wordCount
simpleHttpd
WordChain
FunctionalProgramming
KleisliArrows
combinations
double2k
forall
happyNumbers
hoas
loops
runLengthEncoding2
/gc-latency
