#*[^.]*
*.hi
*.o
mean
listToString
repeatN
sieve_of_eratothenes
multiThreadedLogging
test
threadring
mutableArraysBench
Id
FizzBuzz
RecursiveInstances
runLengthEncoding
runLengthEncoding[23]
sort
hello
hugsin
wordCount
